<%= form_for(@group, class:"form-inline new_groups_groups", remote:false) do |f| %>
  <%= t('groups.name') %> <%= f.text_field :name, class:"span3" %><br />
  <div class="center"><%= f.submit(t('save'), class: "btn") %></div>
<% end %>